<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LimitlessChildren.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5A343C50FEA00A9D2AEF65BC36A0E628AD300E22</string>
				<key>dateExpires</key>
				<string>15/11/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A343C50FEA00A9D2AEF65BC36A0E628AD300E22</string>
						<key>dateExpires</key>
						<string>15/11/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5387AGUHB</string>
						<key>name</key>
						<string>Labstirr LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B5387AGUHB.com.appstirr.LimitlessChildren</string>
				<key>com.apple.developer.team-identifier</key>
				<string>B5387AGUHB</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>LimitlessChildren.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>31e93c21-bf66-4adf-8642-792a12c4bf5a</string>
				<key>dateExpires</key>
				<string>15/11/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.appstirr.LimitlessChildren</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B5387AGUHB</string>
				<key>name</key>
				<string>Labstirr LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
